@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

body{
    
 margin: 0;
 padding: 0;
 box-sizing: border-box;

}
#navbarHeading{
    text-align: center;
    font-size: 13px;
    font-family: 'Hind Siliguri', sans-serif;
    color:#222;
    position: relative;
    bottom:-5px;


}

#navbar{
    background-color: orange;
    position: relative;
    top:-12px;
    height:45px;
    display: flex;
    justify-content:center;
    border:5px solid orange;
}
.codeProgramming{
        
    display:flex;
    align-items: center;
    justify-content:center;
}
.language-py{
    width: 700px;   

}
code{
    float:left;
}
#codeHeading{
    font-family: 'Quicksand', sans-serif;
    display:flex;
    align-items:center;
    justify-content:center;
}
.language-c{
    width:700px;
}
.language-cpp{
    width:700px;
}
.language-java{
    width:700px;
}
.myFooter{
    text-align: center;
    background-color: #222;
    height:40px;
    display:flex;
    align-items: center;
    justify-content:center;
    border:2px solid #222;
    position: absolute;
    bottom:-1500px;
    width:100%;
}


p{
    color:#fff;
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
    
}
#logo{
    height:40px;
    position: absolute;
    left: 10px;
    bottom:-3px;
    border-radius: 23px;
    
}
.language-js{
    width:700px;
}
.language-rb{
    width:700px;
}
.language-html{
    width:700px;
    height:300px;
}
.language-cs{
    width:700px;
}
